
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Menú</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor01">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link active" href="#">
                        Acerca de...
                        <span class="visually-hidden">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Repuestos</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Accesorios</a>
                </li>
               
            </ul>
            <form class="d-flex">
                <input class="form-control me-sm-2" type="text" placeholder="Search">
                <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
            </form>
        </div>
    </div>
</nav>
<br/>
<br/>
<a href="">
    <img src="../Imagenes/perfil.jpg"
         width="100px" height="75px"
         alt="tepxo alternativo de la imagen" />
</a>
<div class="card text-white bg-primary mb-3" style="        max-width: 60rem;
        color:darkcyan">
    <div class="card-header">Daniela Castillo Montano</div>
    <div class="card-body">
        <h4 class="card-title">Informacion General</h4>
        <p class="card-text">Cedula:702510609 </p>
        <p class="card-text">Residencia: Alajuela,Villa Bonita </p>
        <p class="card-text">Estudiante de la carrera Ingenería del Software y creador de la empresa de Ultra Repuestos SISUR, tambien administradora de la página y encargada de la empresa junto con su compañero Braulio Álvarez González . </p>
    </div>
</div>
<br />

<a href="">
    <img src="../Imagenes/perfilBraulio.jpg"
         width="100px" height="75px"
         alt="tepxo alternativo de la imagen" />
</a>
<div class="card text-white bg-secondary mb-3" style="max-width: 60rem;" color:#45A8DA">
    <div class="card-header">Braulio Álvarez González</div>
    <div class="card-body">
        <h4 class="card-title">Información General</h4>
        <p class="card-text">Cedula:112410043 </p>
        <p class="card-text">Residencia: Alajuela,Itiquis </p>
        <p class="card-text">Estudiante de la carrera Ingenería del Software y creador de la empresa de Ultra Repuestos SISUR, tambien administrador de la página y encargado de la empresa junto con su compañera Daniela Castillo Montano.</p>
    </div>
</div>
<br />

<a href="">
    <img src="../Imagenes/logoSisur.PNG"
         width="175px" height="100px"
         alt="tepxo alternativo de la imagen" />
</a>
<div class="card text-white bg-success mb-3" style="max-width: 60rem; color:grey ">
    <div class="card-header">Ultra Repuestos SISUR</div>
    <div class="card-body">
        <h4 class="card-title">¿Quienes somos?</h4>
        <p class="card-text">
            “Ultra Repuestos” es un negocio que se dedica a vender repuestos buena calidad y para
            todo tipo de marcas de autos y motos. También comercializa accesorios para decoración de
            vehículos, aditivos y líquidos en general para todo tipo de vehículos.
            Ofrecemos repuestos originales de fábrica que garantizan mayor calidad, durabilidad y
            rendimiento para vehículo a un excelente precio, también se brinda un excelente servicio al
            cliente con nuestros agentes al realizar su compra.
            Los repuestos que ofrecemos son para las marcas HYUNDAI, NISSAN, TOYOTA, CHEVROLET,
            KIA Y SUZUKI, YAMAHA, KAWASAKI, FREEDOM, HONDA..
            Vendemos toda clase de aceites, aditivos para el motor, baterías, sillas de seguridad, ceras,
            shampoos, kits de emergencia, luces de emergencia, chalecos reflectivos, halógenos, luces
            de xenon y bixenon, coberturas para la manivela, protectores de asientos, entre otros
            Todos estos servicios los podrás obtener en un mismo lugar y con una calidad de productos,
            buenos precios y con una excelente asesoría.
        </p>
        <h4 class="card-title">Información General</h4>
        <p class="card-text">Correo: ultrasisur10@sisur.com </p>
        <p class="card-text">Ubicación: Alajuela,Villa Bonita, del Pali de Villa Bonita 75 mts sur </p>
        <p class="card-text">Teléfono: 84250734 </p>
    </div>
</div>
<footer class="footer-bottom">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-12">
                <div class="copyright">
                    <p>
                        Copyright ©
                        <script>
                            var CurrentYear = new Date().getFullYear()
                            document.write(CurrentYear)
                        </script>
                        . Daniela Castillo - Braulio Álvarez González
                    </p>
                </div>
            </div>
           
        </div>
    </div>
    <div class="top-to">
        <a id="top" class="" href="#"><i class="fa fa-angle-up"></i></a>
    </div>
</footer>



